 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Beiruti, sans-serif;
 }
/* HEADER LANDING PAGE */

 header {
  position: fixed;
  right: 0;
  top:0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 9%;
  background: transparent;
  background-color: purple;
 }

 .logo {
  font-size: 40px;
  font-weight: 600;
  color: white;
 }

 .navlist {
  display: flex;
 }

 .navlist a{
  color: white;
  margin-left: 60px;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
 }

 .navlist a:hover {
  border-bottom: 2px solid white
 }

 #menu-icon {
  color: white;
  font-size: 30px;
  z-index: 10001;
  cursor: pointer;
 }

 /* HERO SECTION */

 .hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  background-color: purple;
  padding: 0 10%;
  line-height: 1.6;
 }

 .hero-img img {
  height: 320px;
  width: 520px;
  border-radius: 110px;
  margin-left: 80px;
  max-width: 100%;
 }

 .hero-text {
  color: white;
  font-size: 25px;
 }

 .hero-text h1 {
  font-size: 50px;
  padding-bottom: 20px;
 }

 /* FEATURES SECTION */

 .card-features {
  height: 100%;
  width: 100%;
  min-height: 60vh;
  display: inline-block;
  background-color: white;
  margin: auto;
  padding: 25px 10%;
  display: flex;
  padding-top: 60px;
  line-height: 1.6;
  align-items: baseline;
 }

.one {
  flex: 1;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.two {
  flex: 1;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.three {
  flex: 1;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.four {
  flex: 1;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

 .flex-boxes {
  display: flex;
  gap: 150px;
  height: 130px;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
 }


 .flex-boxes h3 {
  margin-top: 20px;
  color: purple;
  margin-bottom: 10px;
 }

 .flex-boxes p {
  font-size: 18px;
 }

 .icon {
  width: 130px;
  display: flex;
  gap: 10px;
  padding-left: 15px;
 }

 /* ABOUT US SECTION */

 .aboutus {
  background-color: purple;
  height: 100%;
  width: 100%;
  min-height: 80vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  line-height: 1.6;
  margin: auto;
  padding: 40px 9%;
  font-size: 25px;

 }

 
 .ab {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  align-items: center;
  gap: 2rem;
  background-color: purple;
  padding: 0 10%;
  line-height: 1.6;
 }

 .ab h2 {
  font-size: 35px;
  color: white;
  padding-bottom: 50px;
  padding-top: 40px;
  padding-left: 550px;
 }

 .photos {
  background-color: purple;
  display: inline-flex;
  gap: 30px;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 50px;
  
 }

  #morg {
  height: 250px;
  width: 250px;
  border-radius: 250px;
  display: inline-flex;
  position: relative;
  
 }

 #shola {
  height: 250px;
  width: 250px;
  border-radius: 250px;
  display: inline-flex;
  position: relative;
  
 }

 #undine {
  height: 250px;
  width: 250px;
  border-radius: 250px;
  display: inline-flex;
  position: relative;
  
 }

 #ash {
  height: 250px;
  width: 250px;
  border-radius: 250px;
  display: inline-flex;
  position: relative;
  
 }

 .abu-text {
  background-color: purple;
  color: white;
  font-size: 25px;
 }

  /* FOOTER */

  footer {
  display: flex;
  height: 100px;
  background-color: purple;
  color: white;
  line-height: 1.6;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 7%;
 }

 footer h2 {
  font-size: 40px;
 }

 footer p {
  margin-top: 30px;
 }

 .fa-brands {
  padding-top: 20px;
  padding-right: 30px;
 }

 .socialmidia a {
  text-decoration: none;
  color: white;
 }

  .socialmidia a:hover {
    color: black;
 }
 
 /* SIDE BAR MENU 2 PAGE */
 
.sidebar {
  display: flex;
  gap: 30px;
  color: white;
  font-size: 20px;
}

 .navlink {
  display: flex
 }

 .navlink a {
  list-style: none;
  height: 100%;
  color: white;
 }

 .drop-down li {
  height: 100%;
  padding: 0.5rem 1rem;
  font-weight: 300;
  cursor: pointer;
 }

 .drop-down {
  position: absolute;
  padding: 0.5rem 0;
  margin: 0.5rem -0.5rem;
  background-color: purple;
  border-radius: 10px;
 }
